<div class="form-group text-center">
	<form>
	  <div class="row from-to-date-row">
		  <div class="col-md-4 col-md-offset-4 ">
			  <input type="date" name="from_date" class="form-control" id="from_date">
			  <input type="date" name="to_date" class="form-control" id="to_date">
		  </div>
	  </div>
	  <div class="row">
		  <div class="col-md-12">
		  	<input class="btn btn-submit" type="submit" id="marker-request">
	  	</div>
  	</div>
	</form>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 ">
		<div id="map" class="z-depth-5"></div>
	</div>
</div>
